*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
section{
  display:flex;
  justify-content:center;
  align-items:center;
  background:#2d6d4b;
  width:400px;
  height:300px;  
  
}
.countDown{
  background:#2d4257;
  width:380px;
  height:280px;
  position:relative;
  box-shadow: 0px 0px 5px 1px black;
  
}
.countDown>.number{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position:relative;
  padding-top:45px;
  //border:1px solid red
}

#timeHours{
  position:relative;
  color:white;
  font: 4em "Open Sans", sans-serif;
  text-shadow: black 0px 0px 5px;
}
#timeHours::before{
  position:absolute;
  top:75px;
  width:75%;
  text-align:center;  
  color:#475d74;
  content:"HOURS";
  font-size: 2px;
  font-weight: bolder;
  text-shadow: none;
}
#timeHours::after{
  content:"\:";
  padding-left:10px;
  padding-right:10px;
  
}

#timeMinutes{
  color:white;
  font: 4em "Open Sans", sans-serif;
  //border:1px solid red;
  position:relative;
  text-shadow: black 0px 0px 5px;
}

#timeMinutes::before{
  position:absolute;
  top:75px;
  width:75px;
  text-align:center;  
  color:#475d74;
  content:"MINUTES";
  font-size: 2px;
  font-weight: bolder;
  text-shadow: none;
}
#timeMinutes::after{
  content:"\:";
  padding-left:10px;
  padding-right:10px;  
  //border:1px solid red
  
}
#timeSeconds{
  position:relative;
  color:white;
  font: 4em "Open Sans", sans-serif;
  text-shadow: black 0px 0px 5px;  
}
#timeSeconds::before{
  position:absolute;
  top:75px;
  width:100%;
  text-align:center;  
  color:#475d74;
  content:"SECONDS";
  font-size: 2px;
  font-weight: bolder;
  text-shadow: none;
}

#days{
  position:absolute;
  top:25px;
  left:10px;
  width:400px;
  height:100px;
  text-align:left;  
  color:#475d74;  
  font-size: 20px;
  font-weight: bolder;
   
}
.birth{
  margin-top:20px;
  
}
.text{
  display:inline-block;
  color:white;
  font-size:10px;
  margin-left:50px;
  word-wrap:break-word;
  width:130px;
  text-shadow: black 0px 0px 15px;
  
}
#valueDate{
  vertical-align:top;
  margin-left:10px;
  display:inline-block;
  background:#2d4257;  
  font-size:10px;
  color:white;
  position:relative;
  opacity:0.9;
  z-Index:1;
  box-shadow: 10px 10px 10px 10px #2d4257;
  
}


#but{
  margin-top:20px;
  margin-left:50px;
  display:inline-block;
  border-radius: 28px;
  border:2px solid white;
  background:#2d4257;
  width:280px;
  height:40px;
  font-size:24px;
  color:white;
  box-shadow: 0px 0px 1px 1px black;
  text-shadow: black 0px 0px 15px; 
  outline:none;
  font-family: "Open Sans",arial,sans-serif
}

#but1{
  display:none;
  margin-top:20px;
  margin-left:50px;
  border-radius: 28px;
  border:2px solid white;
  background:#2d4257;
  width:280px;
  height:40px;
  font-size:24px;
  color:white;
  box-shadow: 0px 0px 1px 1px black;
  text-shadow: black 0px 0px 15px; 
  outline:none;
  font-family: "Open Sans",arial,sans-serif  
}
